h1{
    text-align: center;
    margin-top: 20px;
}
table {
  border-collapse: collapse;
  width: 50%;
  margin: 40px auto;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd){background-color: #f2f2f2}

th {
  background-color: #6eb9f6;
  color:#fff;
}